In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [0]:
import nltk
nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [0]:
df = pd.read_excel('UPCTEXT.xlsx', sheet_name = 'Sheet1')

In [0]:
df.head(10)

   ID  DISPLAY  ... Sentiment group  Topics
0   2  CONTROL  ...             NaN     NaN
1   4  CONTROL  ...             NaN     NaN
2   6  CONTROL  ...             NaN     NaN
3  13  CONTROL  ...             NaN     NaN
4  17  CONTROL  ...             NaN     NaN
5  18  CONTROL  ...             NaN     NaN
6  20  CONTROL  ...             NaN     NaN
7  21  CONTROL  ...             NaN     NaN
8  23  CONTROL  ...             NaN     NaN
9  27  CONTROL  ...             NaN     NaN

[10 rows x 6 columns]

In [0]:
df.isnull().sum()

ID                   0
DISPLAY              0
text                 2
Sentiment Score    303
Sentiment group    303
Topics             303
dtype: int64

In [0]:
#replace the two rows that has nothin in it with no comment 
#maybe we can just leave it as it is
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 6 columns):
ID                 303 non-null int64
DISPLAY            303 non-null object
text               301 non-null object
Sentiment Score    0 non-null float64
Sentiment group    0 non-null float64
Topics             0 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 14.3+ KB

In [0]:
#change into string
df['text'] = df['text'].astype('str')

In [0]:
#dropping 2 rows with ''
string = ['']
cleaned = df[~df['text'].isin(string)]
cleaned.head(90)

     ID  DISPLAY  ... Sentiment group  Topics
0     2  CONTROL  ...             NaN     NaN
1     4  CONTROL  ...             NaN     NaN
2     6  CONTROL  ...             NaN     NaN
3    13  CONTROL  ...             NaN     NaN
4    17  CONTROL  ...             NaN     NaN
..  ...      ...  ...             ...     ...
85  258  CONTROL  ...             NaN     NaN
86  262  CONTROL  ...             NaN     NaN
87  264  CONTROL  ...             NaN     NaN
88  267  CONTROL  ...             NaN     NaN
89  270  CONTROL  ...             NaN     NaN

[90 rows x 6 columns]

make lower case

In [0]:
cleaned['text'] = cleaned['text'].apply(lambda x: x.lower())

remove puncuation

In [0]:
cleaned['text'] = cleaned['text'].str.replace('[^\w\s]','')
cleaned['text'].head(20)

0     the ad provided basic information that was not...
1     i think the ad was informative i believe it is...
2     i think the add is about target marketing and ...
3     i think its a good ad that highlights a major ...
4     recycling is goodit is useful and helpfulit is...
5     i think it is a good idea to reuse plastic how...
6     i believe that the study was about recycling i...
7     survey is very good this product is so good an...
8     i think its a great idea but not a very attrac...
9     the picture of the shoe seemed a little dark a...
10    50 characters about a running shoe made from r...
11    this product is very useful and good quality t...
12    the ad was fairly plain and not especially wel...
13    i appreciate any company that uses recycled ma...
14    i think the ad is really just trying too hard ...
15    i liked it the only recycled shoes i have seen...
16    honestly i thought the ad was positive and con...
17    there was not enough color in the ad  spice it...
18    the product was novel ie the recycled polyeste...
19    i think that the ad was too simple and needed ...
Name: text, dtype: object

remove stopwords

In [0]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [0]:
cleaned['text'] = cleaned['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [0]:
import nltk
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
nltk.download('wordnet')
from nltk.tokenize import RegexpTokenizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [0]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
lemmatizer = nltk.stem.WordNetLemmatizer()
wordnet_lemmatizer = WordNetLemmatizer()
stop = stopwords.words('english')


def nltk_tag_to_wordnet_tag(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def lemmatize_sentence(sentence):
    #tokenize the sentence and find the POS tag for each token
    nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))
    #tuple of (token, wordnet_tag)
    wordnet_tagged = map(lambda x: (x[0], nltk_tag_to_wordnet_tag(x[1])), nltk_tagged)
    lemmatized_sentence = []
    for word, tag in wordnet_tagged:
        if tag is None:
            #if there is no available tag, append the token as is
            lemmatized_sentence.append(word)
        else:
            #else use the tag to lemmatize the token
            lemmatized_sentence.append(lemmatizer.lemmatize(word, tag))
    return " ".join(lemmatized_sentence)

In [0]:
cleaned['lemmatize'] = cleaned['text'].apply(lambda x: lemmatize_sentence(x))

In [0]:
df = cleaned[['text', 'lemmatize']]
df.head(30)

                                                 text                                          lemmatize
0   ad provided basic information extremely persua...  ad provide basic information extremely persuas...
1   think ad informative believe worthwhile cause ...  think ad informative believe worthwhile cause ...
2   think add target marketing certain topic indiv...  think add target marketing certain topic indiv...
3   think good ad highlights major issue world tod...  think good ad highlight major issue world toda...
4         recycling goodit useful helpfulit effective          recycle goodit useful helpfulit effective
5   think good idea reuse plastic however shoes ad...  think good idea reuse plastic however shoes ad...
6   believe study recycling items reusing make new...  believe study recycle item reuse make new sneaker
7                     survey good product good honest                    survey good product good honest
8   think great idea attractive product perhaps se...  think great idea attractive product perhaps se...
9   picture shoe seemed little dark andor sharp cl...  picture shoe seem little dark andor sharp clar...
10  50 characters running shoe made recycled plast...  50 character run shoe make recycled plastic bo...
11  product useful good quality product useful pro...  product useful good quality product useful pro...
12  ad fairly plain especially well designed howev...  ad fairly plain especially well design however...
13  appreciate company uses recycled materials mak...  appreciate company use recycled material make ...
14  think ad really trying hard please niche marke...  think ad really try hard please niche market d...
15  liked recycled shoes seen loafer type looked g...  like recycle shoe see loafer type look good ho...
16  honestly thought ad positive convincing ugly b...  honestly think ad positive convincing ugly bla...
17  enough color ad spice colorful background diff...  enough color ad spice colorful background diff...
18  product novel ie recycled polyester shoes ad c...  product novel ie recycle polyester shoe ad cou...
19  think ad simple needed include regards process...  think ad simple need include regard process mu...
20  ad emphasized environmental aspect shoes envir...  ad emphasize environmental aspect shoe environ...
21  promoting recycled plastic making nice running...  promote recycle plastic making nice running sh...
22  sneaker style would choose best part survey 2 ...  sneaker style would choose best part survey 2 ...
23  thought ad innovative good environment never s...  thought ad innovative good environment never s...
24  shoes seemed pretty comfortable fact made recy...  shoe seem pretty comfortable fact make recycle...
25  think ad interesting concept would open idea s...  think ad interesting concept would open idea s...
26  ad visually unappealing make want buy wear pro...  ad visually unappealing make want buy wear pro...
27  think positive well needed todays world see wo...  think positive well need today world see world...
28  like idea general pro recycled material produc...  like idea general pro recycle material product...
29  somewhat bland since shoe black eyecatching sh...  somewhat bland since shoe black eyecatching sh...

#LDA

In [0]:
!pip install LDA

Requirement already satisfied: LDA in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: numpy<2.0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from LDA) (1.17.5)
Requirement already satisfied: pbr<4,>=0.6 in /usr/local/lib/python3.6/dist-packages (from LDA) (3.1.1)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import NMF, LatentDirichletAllocation, TruncatedSVD

In [0]:
def selected_topics(model, vectorizer, top_n=20):
    data_topic = dict()
    for idx, topic in enumerate(model.components_):
        #print("Topic %d:" % (idx))
        #print (" ".join([vectorizer.get_feature_names()[i]
        #                for i in topic.argsort()[:-top_n - 1:-1]]))
        data_topic["Topic_"+str(idx)]= [(vectorizer.get_feature_names()[i], topic[i])
                        for i in topic.argsort()[:-top_n - 1:-1]]
    return data_topic

In [0]:
vectorizer_ = CountVectorizer(min_df=5, max_df=0.9, stop_words='english', lowercase=True, token_pattern='[a-zA-Z\-][a-zA-Z\-]{2,}')
df_vectorized = vectorizer_.fit_transform(cleaned['lemmatize'])

In [0]:
lda_ = LatentDirichletAllocation(n_components=3, max_iter=5, learning_method='online',verbose=True)
df_lda = lda_.fit_transform(df_vectorized)

iteration: 1 of max_iter: 5
iteration: 2 of max_iter: 5
iteration: 3 of max_iter: 5
iteration: 4 of max_iter: 5
iteration: 5 of max_iter: 5

In [0]:
topic_vector =  selected_topics(lda_, vectorizer_)

In [0]:
#df_topic_vector = pd.DataFrame(topic_vector)
#df_topic_vector.to_excel("cleaned_df_10_topic_vector.xlsx")

#textblob

In [0]:
from textblob import TextBlob

In [0]:
def detect_polarity(text):
  score = TextBlob(text).sentiment.polarity
  print("{:-<40} {}".format(text, str(score)))

In [0]:
cleaned['Sentiment Score'] = cleaned['lemmatize'].apply(lambda text: TextBlob(text).sentiment.polarity)

In [0]:
tb_predicted_value = list(cleaned['Sentiment Score'])
#converting sentiment values to numpy for easier usage

compvall = np.array(tb_predicted_value)

len(tb_predicted_value)

303

In [0]:
cleaned['Sentiment Score'] = compvall

In [0]:
cleaned.tail(10)

      ID DISPLAY  ... Topics                                          lemmatize
293  272     R2L  ...    NaN  okay ad talk plastic waste making shoe believa...
294  277     R2L  ...    NaN      ad simple elicit emotion also visually appeal
295  280     R2L  ...    NaN  ad intrigue hope true would absolutely buy sho...
296  282     R2L  ...    NaN  felt message positive recycle important protec...
297  285     R2L  ...    NaN  think placement shoe bottle switch visually sh...
298  289     R2L  ...    NaN  learn new way recycle use plastic important sh...
299  292     R2L  ...    NaN  love concept ad clear however ugly need design...
300  297     R2L  ...    NaN  ad saw begin survey poorly do clearly thought ...
301  298     R2L  ...    NaN  think ad wordy nice learn information feel lik...
302  300     R2L  ...    NaN  ad basic easy understand however basic look fa...

[10 rows x 7 columns]

In [0]:
#Assigning score categories and logic
i = 0

tb_predicted_value = [ ] #empty series to hold our predicted values

# Creating function for calculating positive, negative and neutral
# More than 1 --> Positive, equal to 0 --> neutral and less than 0 --> Negative
while(i<len(cleaned)):
    if ((cleaned.iloc[i]['Sentiment Score'] > 0)):
        tb_predicted_value.append('positive')
        i = i+1
    elif ((cleaned.iloc[i]['Sentiment Score'] == 0)):
        tb_predicted_value.append('neutral')
        i = i+1
    elif ((cleaned.iloc[i]['Sentiment Score'] < 0)):
        tb_predicted_value.append('negative')
        i = i+1

In [0]:
cleaned['Sentiment group'] = tb_predicted_value

In [0]:
cleaned.tail(10)

      ID DISPLAY  ... Topics                                          lemmatize
293  272     R2L  ...    NaN  okay ad talk plastic waste making shoe believa...
294  277     R2L  ...    NaN      ad simple elicit emotion also visually appeal
295  280     R2L  ...    NaN  ad intrigue hope true would absolutely buy sho...
296  282     R2L  ...    NaN  felt message positive recycle important protec...
297  285     R2L  ...    NaN  think placement shoe bottle switch visually sh...
298  289     R2L  ...    NaN  learn new way recycle use plastic important sh...
299  292     R2L  ...    NaN  love concept ad clear however ugly need design...
300  297     R2L  ...    NaN  ad saw begin survey poorly do clearly thought ...
301  298     R2L  ...    NaN  think ad wordy nice learn information feel lik...
302  300     R2L  ...    NaN  ad basic easy understand however basic look fa...

[10 rows x 7 columns]

In [0]:
#drop other columns
sentiment = cleaned.drop(['Topics'], axis = 1)
sentiment.tail(10)

      ID  ...                                          lemmatize
293  272  ...  okay ad talk plastic waste making shoe believa...
294  277  ...      ad simple elicit emotion also visually appeal
295  280  ...  ad intrigue hope true would absolutely buy sho...
296  282  ...  felt message positive recycle important protec...
297  285  ...  think placement shoe bottle switch visually sh...
298  289  ...  learn new way recycle use plastic important sh...
299  292  ...  love concept ad clear however ugly need design...
300  297  ...  ad saw begin survey poorly do clearly thought ...
301  298  ...  think ad wordy nice learn information feel lik...
302  300  ...  ad basic easy understand however basic look fa...

[10 rows x 6 columns]

In [0]:
#df_topic_vector = pd.DataFrame(topic_vector)
#df_topic_vector.to_excel("cleaned_df_10_topic_vector.xlsx")
df_sentiment_score = pd.DataFrame(sentiment)
df_sentiment_score.to_excel('df_sentiment_score.xlsx')

In [0]:
sentiment['Sentiment group'].unique()

array(['negative', 'positive', 'neutral'], dtype=object)

In [0]:
pos = sentiment[sentiment['Sentiment group'] == 'positive']
neg = sentiment[sentiment['Sentiment group'] == 'negative']
neu = sentiment[sentiment['Sentiment group'] == 'neutral']

In [0]:
neu.head()

     ID  ...                                          lemmatize
18   55  ...  product novel ie recycle polyester shoe ad cou...
38  116  ...  survey relate shoe brand shoe make recycled pl...
45  137  ...  ad run shoe use recycled material say use recy...
65  198  ...  interest idea picture fall apart dont see coul...
69  210  ...  like idea ad think copy ad could appeal drive ...

[5 rows x 6 columns]

In [0]:
pos_count = pos.shape[0]
neg_count = len(neg)
neu_count =  neu.shape[0]

In [0]:
pos_count

217

In [0]:
neg_count

50

In [0]:
neu_count

36

In [0]:
pos['DISPLAY'].unique()

array(['CONTROL', 'L2R', 'R2L'], dtype=object)

In [0]:
control_pos = pos.groupby('DISPLAY').count()
control_pos

         ID  text  Sentiment Score  Sentiment group  lemmatize
DISPLAY
CONTROL  72    72               72               72         72
L2R      75    75               75               75         75
R2L      70    70               70               70         70

In [0]:
count_neg = neg.groupby('DISPLAY').count()
count_neg

         ID  text  Sentiment Score  Sentiment group  lemmatize
DISPLAY
CONTROL  15    15               15               15         15
L2R      16    16               16               16         16
R2L      19    19               19               19         19

In [0]:
count_neu = neu.groupby('DISPLAY').count()
count_neu

         ID  text  Sentiment Score  Sentiment group  lemmatize
DISPLAY
CONTROL  14    14               14               14         14
L2R      10    10               10               10         10
R2L      12    12               12               12         12

In [0]:
sentiment.groupby('DISPLAY').mean()

                 ID  Sentiment Score
DISPLAY
CONTROL  152.108911         0.226141
L2R      153.009901         0.252900
R2L      150.881188         0.220921

In [0]:
vectorizer_ = CountVectorizer(min_df=5, max_df=0.9, stop_words='english', lowercase=True, token_pattern='[a-zA-Z\-][a-zA-Z\-]{2,}')
pos_vectorized = vectorizer_.fit_transform(pos['lemmatize'])
lda_ = LatentDirichletAllocation(n_components=3, max_iter=5, learning_method='online',verbose=True)
pos_lda = lda_.fit_transform(pos_vectorized)

iteration: 1 of max_iter: 5
iteration: 2 of max_iter: 5
iteration: 3 of max_iter: 5
iteration: 4 of max_iter: 5
iteration: 5 of max_iter: 5

In [0]:
topic_vector =  selected_topics(lda_, vectorizer_)

In [0]:
pos_topic_vector = pd.DataFrame(topic_vector)
pos_topic_vector.to_excel("pos_3topic_vector.xlsx")

In [0]:
vectorizer_ = CountVectorizer(min_df=5, max_df=0.9, stop_words='english', lowercase=True, token_pattern='[a-zA-Z\-][a-zA-Z\-]{2,}')
neg_vectorized = vectorizer_.fit_transform(neg['lemmatize'])
lda_ = LatentDirichletAllocation(n_components=2, max_iter=5, learning_method='online',verbose=True)
neg_lda = lda_.fit_transform(neg_vectorized)

iteration: 1 of max_iter: 5
iteration: 2 of max_iter: 5
iteration: 3 of max_iter: 5
iteration: 4 of max_iter: 5
iteration: 5 of max_iter: 5

In [0]:
topic_vector =  selected_topics(lda_, vectorizer_)

In [0]:
neg_topic_vector = pd.DataFrame(topic_vector)
neg_topic_vector.to_excel("neg_2topic_vector.xlsx")